/*
    Basic Resets :
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
.showcase{
    background-image:
    linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url("../img/foodbackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.text-box{
    position: absolute;
    top: 34vh;
    left: 17vw;
    width: 50vw;
}
.main-heading{
    color:rgb(252, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 380%;
    line-height: 110%;
}
#span-detector{
    color:  #e74c3c;
}

.button-container{
    width: 50%;
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-now{
    float: left;
    text-decoration: none;
    background-color: #e74c3c;
    color:rgb(252, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 1.5;
    padding: 0.85rem;
    border: 1.5px solid #e74c3c;
    border-radius: 60px;
    margin-right: 1rem;
}
.book-now a{
    text-decoration: none;
    color: inherit;
}
.book-now:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.show-me-more{
    float: left;
    text-decoration: none;
    background-color:transparent;
    color:rgb(252, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 1.5;
    padding: 0.85rem;
    border: 1.5px solid #e74c3c;
    border-radius: 60px;
    margin-right: 1rem;
}
.show-me-more a{
    text-decoration: none;
    color: inherit;
}
.show-me-more:hover{
    background-color: #e74c3c;
    transform: scale(1.1);
    transition: transform 0.5s;
}
.navbar{
    background-color: transparent;
    width: 100%;
    overflow: auto;
    align-items: center;
}
.navbar-list{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
}
.navbar-element a{
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
}
.navbar-element a:hover{
    border-bottom: 1.5px solid #e74c3c;
}
.navbar-element{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    font-weight: 100;
    margin-right: 2rem;
    padding: 15px 0px;
}
.sticky-bar{
    background-color: white;
    position: fixed;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid grey;
    z-index: 10;
    opacity: 90%;
}
.sticky-bar .navbar-list{
    margin: 0;
}
.sticky-bar .navbar-list .navbar-element{
    color: grey;
}
.sticky-bar .profile-icon{
    color: grey;
}
.profile-icon{
    font-size: 2rem;
    color: white;
}
.profile-submenu{
    display: none;
}

.navbar-list:last-child :hover .profile-submenu{
    display: block;
    position: absolute;
    width: 150px;
    background-color: white;
    opacity: 80%;
    border: 1px solid black;
    border-top: none;
    margin-top: 15px;
    margin-left: -90px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: auto;
}
.navbar-list:last-child :hover .profile-submenu li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    text-align: center;
    border-bottom: 1px solid black;
    text-decoration: none;
    list-style: none;
    padding: 0.8rem;
}
.navbar-list:last-child :hover .profile-submenu li:last-child{
    border-bottom: none;
    padding-bottom: 1rem;
}
.navbar-list:last-child :hover .profile-submenu li:hover{
    background-color: gainsboro;
}
.navbar-list:last-child :hover .profile-submenu li a:hover{
    border-bottom: none;
}


.sticky-bar .navbar-list:last-child :hover .profile-submenu{
    display: block;
    position: fixed;
    width: 150px;
    background-color: gainsboro;
    margin-top: 17px;
    margin-left: -90px;
    border: 1px solid black;
    border-top: none;
    opacity: 80%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sticky-bar .navbar-list:last-child :hover .profile-submenu li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    border-bottom: 1px solid black;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 0.8rem;
}
.sticky-bar .navbar-list:last-child :hover .profile-submenu li:last-child{
    border-bottom: none;
}

.sticky-bar .navbar-list:last-child :hover .profile-submenu li a:hover{
    border-bottom: none;
}

.sticky-bar .navbar-list:last-child :hover .profile-submenu li:hover{
    background-color: white;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-1{
    width: 100%;
    height: 90vh;
    display: inline-block;
}
.subheading1{
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:grey;
    margin-top: 4rem;
    text-align: center;
}
.subheading1:after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 10%;
    background-color: #e74c3c;
    margin: auto;
    margin-top: 1.5rem;
}
.card-container{
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-item{
    width: 25%;
    height: 50%;
    padding: 40px 37px;
    text-align: center;   
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.icon{
    font-size: 3rem;
    color: #e74c3c;
}
.card-heading{
    font-size: 125%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    text-align: center;
    margin-top: 1rem;
}
.card-text{
    font-size: 80%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    margin-top: 0.75rem;
    text-align: justify;
    line-height:16px;
}
.card-item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-2{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    display: inline-block;
}
.subheading2{
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:grey;
    text-align: center;
    margin-top: 4rem;
}
.subheading2:after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 10%;
    background-color: #e74c3c;
    margin: auto;
    margin-top: 1.5rem;
}
.section-container{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
}
.image-container{
    width: 50%;
    height: 100%;
    text-align: center;
}
.app-image{
    width: 80%;
}
.steps-container{
    width: 50%;
    padding: 8rem 1rem;
}
.steps-item{
    width: 90%;
    height: 20%;
    margin: auto;
    margin-bottom:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-item-number{
    text-align: center;
    width: 12.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    border-radius: 90%;
    margin-right: 1rem;
    padding: 1rem;

}
.step-item-text{
    width: 85%;
    font-size: 100%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    text-align: justify;
    line-height:22px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-3{
    background-image:
    linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url("../img/foodbackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.subheading3{
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:grey;
    text-align: center;
    margin-top: 4rem;
}
.subheading3:after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 7.5%;
    background-color: #e74c3c;
    margin: auto;
    margin-top: 1.5rem;
}
.review-container{
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.review-item{
    width: 25%;
    height: 45%;
    padding: 40px 37px;
    text-align: center;
    background-color: whitesmoke;  
}
.review-name{
    font-size: 125%;
    font-weight: 100;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    margin-top: 1rem;
}
.review-text{
    font-size: 80%;
    font-weight: 100;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    margin-top: 0.75rem;
    text-align: justify;
    line-height:16px;
}
.review-stars{
    height: 35%;
    margin-top: 1.5rem;
    display: inline-block;
}
.review-icon{
    color: #e74c3c;
}
.review-item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-4{
    background-color:white;
    height: 100vh;
    width: 100%;
    display: inline-block;
}
.subheading4{
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:grey;
    text-align: center;
    margin-top: 4rem;
}
.subheading4:after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 7.5%;
    background-color: #e74c3c;
    margin: auto;
    margin-top: 1.5rem;
}
.plan-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
    margin: auto;
    align-items: center;
}
.plan-item{
    width: 25%;
    height: 73%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
    padding: 30px 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.plan-name{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 110%;
    font-weight: 100;
    
}
.plan-rate{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}
.price{
    font-family: Arial, Helvetica, sans-serif;
    color: #e74c3c;
    font-weight: 1;
    font-size: 2.8rem;
}
.plan-name-tag{
    margin-top: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 90%;
    font-weight: 2;
}
.plan-name-tag:after{
    display: block;
    margin-top: 1.5rem;
    content: "";
    height: 0.1rem;
    background-color: gray;
}
.plan-list{
    margin-top: 1.5rem;
}
.plan-list-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.plan-list-item i{
    color: #e74c3c;
    margin-right: 1rem;
}
.plan-list-item h4{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 90%;
    font-weight: 2;
}
.plan-list:after{
    display: block;
    margin-top: 1.5rem;
    content: "";
    height: 0.05rem;
    background-color: gray;
}
.plan-button{
    position: relative;
    top: 5.2rem;
    text-decoration: none;
    color: white;
    padding: 1.2rem;
    background-color: #e74c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    border-radius: 60px;
}
.middle{
    transform: scale(1.19);
}
.middle .plan-list:after{
    height: 0.1rem;
}
.middle .plan-name-tag:after{
    height: 0.05rem;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-5{
    background-color: gainsboro;
    height: 100vh;
    width: 100%;
    display: inline-block;
}
.subheading5{
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:grey;
    text-align: center;
    margin-top: 4rem;
}
.subheading5::after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 7.5%;
    background-color: #e74c3c;
    margin: auto;
    margin-top: 1.5rem;
}
.signup-container{
    width: 100%;
    height: 82.5%;
    display: flex;
}
.video-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
}
.background-video{
    width: 60%;
    margin-top: 6rem;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.form-container{
    width: 50%;
    height: 100%;
    vertical-align: middle;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.signup-form{
    width: 60%;
    margin: auto;
    padding: 2rem 0rem;
}
.entry-container{
    margin-bottom: 2rem;
}
.entry-container label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 80%;
    font-weight: 2;
    margin-bottom: 0.25rem;

}
.entry-container input{
    width: 100%;
    padding: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 80%;
    font-weight: 2;
    /* border-radius: 5px; */
}
.entry-container textarea{
    width: 100%;
    padding: 0.75rem;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 80%;
    font-weight: 2;
    

}
.entry-container datalist{
    width: 100%;
    height: 1.5rem;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.check input{
    width: 5%;
    margin-right: 0.75rem;
}
.check p{
    width: 59%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 85%;
    font-weight: 2;
}
.submit-button{
    background-color: #e74c3c;
    color:rgb(252, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 1.5;
    padding:1rem;
    border: 1.5px solid #e74c3c;
    border-radius: 60px;
    display: block;
    margin: auto;
    width: 30%;
}
.submit-button:hover{
    transform: scale(1.05);
    transform: 1s;
}