doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Document
        link(rel="stylesheet", href="../css/style.css")
        link(rel="stylesheet", href="../css/base.css")
        link(rel='stylesheet', href='../css/navbar.css')
        link(rel='stylesheet', href='../css/footer.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')
        block attachcss
    body
        .header
            include navbar.pug
        .middle
            block content
                h1 BASE PAGE
        .bottom
            include footer.pug
        script(src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="true") 
        script(src="../js/base.js")
        block attachjs
