.footer
    .footer-links
        .footer-app-links
            a.footer-app-text(href='#') About Us
            a.footer-app-text(href='#') ios App
            a.footer-app-text(href='#') Android App
        .footer-media-links
            a.footer-media-icon(href='#')
                i.fab.fa-facebook-square
            a.footer-media-icon(href='#')
                i.fab.fa-twitter-square
            a.footer-media-icon(href='#')
                i.fab.fa-instagram-square
    h2.footer-copyright Copyright © 2020 Everyone. All Rights Reserved