extends base.pug
block content
    .form-container
        form.signup-form
            .entry-container
                label(for='password') Password
                input#password(type='password', name='password')
            .entry-container
                label(for='confirmPassword') Confirm Password
                input#confirmPassword(type='password', name='confirmPassword')
            button.submit-button(type='submit') Reset Password

block attachcss
    link(rel="stylesheet", href="../css/resetpassword.css")
block attachjs
    script(src="../js/resetpassword.js")